@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

  .container{
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }

  .logo_name{
   @apply xxl:max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4;
  }

  .logo_name img{
    @apply h-8 w-auto sm:h-10;
  }

  .name{
    @apply sm:text-sm xxl:text-2xl;
  }

  .nav_cart_bucket .count{
    @apply absolute bottom-auto left-auto right-0 top-0 z-10 inline-block -translate-y-1/2 translate-x-2/4 rotate-0 skew-x-0 skew-y-0 scale-x-100 scale-y-100 whitespace-nowrap rounded-full bg-indigo-700 px-2.5 py-1 text-center align-baseline text-xs font-bold leading-none text-white;
  }

  .nav_cart_bucket .icon{
    @apply flex items-center justify-center rounded-lg bg-blue-500 p-2 text-center text-white shadow-lg dark:text-gray-200;
  }

  .btn{
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
  .alert{
    @apply p-4 mt-2 mb-4 text-lg text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400;
  }
  
  .delete_item_btn{
   @apply text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-2.5 py-2.5 text-center mr-2 mb-2;
  }
  .product_card{
    @apply w-full sm:w-64 md:w-48 sm:p-5 xl:max-w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700;
  }

  .product_card img{
    @apply sm:h-48 sm:w-48 sm:mx-auto md:w-48 rounded-t-lg text-center justify-center mx-auto mt-2;
  }

  .product_card div h5{
    @apply mb-1 sm:text-sm font-bold tracking-tight text-gray-900 dark:text-white sm:line-clamp-none md:line-clamp-2;
  }

  .addToCardSm{
    @apply sm:p-2 sm:text-[12px] sm:rounded-[5px];
  }

  .addToCardMd{
    @apply md:text-md xxl:px-3 xxl:py-2  md:font-medium lg:rounded-lg add_to_cart_btn_common;
  }
  .addToCardXl{
     @apply md:text-md;
  }

  .product_card .add_to_cart_btn{
    @apply addToCardSm add_to_cart_btn_common;
  }

  .add_to_cart_btn_common {
   @apply cursor-pointer inline-flex items-center text-center
                     text-white bg-blue-700 hover:bg-blue-800 
                     focus:ring-4 focus:outline-none focus:ring-blue-300 
                     dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
  }


  footer div div a{
    @apply text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200;
  }
  footer div div a span{
    @apply sm:text-sm md:text-lg xl:text-xl xxl:text-2xl;
  }
}